VITE_SFCC_CLIENT_ID=aaaaaaaaaaa-aaaaa-aaaa-aaa-aaaaa
VITE_SFCC_CLIENT_SECRET=
VITE_SFCC_ORG_ID=aaaaaaa
VITE_SFCC_SHORT_CODE=kv7kzm78
VITE_SFCC_SITE_ID="RefArch"


EXPO_PUBLIC_EINSTEIN_SITE=
EXPO_PUBLIC_EINSTEIN_HOST=
EXPO_PUBLIC_EINSTEIN_ID=